@page
@model ChangePasswordModel
@{
    Layout = "~/Areas/Identity/Pages/_AccLayout.cshtml";
}
<html>
<head>
    @*<title>Animated Login Form</title>*@
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/loginstyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Change password</h2>
                <ol>
                    <li><a>Account</a></li>
                    <li>Change password</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <div class="body-login">
        <img class="wave" src="/assets/img/vawe.png">
        <div style="text-align:center">
            <div class="containe">
                <div class="register-content">
                    <form method="post">
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Current password</h5>
                                <input asp-for="Input.CurrentPassword" type="password" class="input">
                                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>New Password</h5>
                                <input class="input" name="Input.NewPassword" asp-for="Input.NewPassword" type="password" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="div">
                                <h5>Confirm Password</h5>
                                <input asp-for="Input.ConfirmPassword" type="password" class="input">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-login">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/assets/js/loginmain.js"></script>
        </div>
</body>
</html>